*
{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body 
{
    background-color: #333;
}
.container1
{
    background: #222;
    width: 80%;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 5fr 3fr;

}
.img 
{
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.img img, canvas
{
    max-width: 45vw;
    max-height: 60vh;
}
.upload input
{
    display: none;
}
.upload label 
{
    color: white;
    padding: 8px 20px;
    border: 2px dashed white;
    cursor: pointer;
}
.filters ul, .filters ul li 
{
    display: flex;
    flex-direction: column;
    gap: 25px;
    direction: rtl;
}
.filters ul li label
{
    color: white;
}
.filters ul li:last-child
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.filters ul li a, .filters ul li span
{
    color: white;
    padding: 10px 20px;
    background-color: #060;
    cursor: pointer;
}
.filters ul li input
{
    cursor: pointer;
}

@media screen and (min-width:300px) and (max-width:650px) {
    .container1 {
            display: grid;
            grid-template-columns: 1fr;
            gap: 50px;
            /* background-color: red; */
        }

    .img img,
    canvas {
        max-width:80vw;
    }
}

@media screen and (min-width:300px) and (max-width:400px) {
    .img img,
        canvas {
            max-width: 65vw;
        }
}